.dashboad-bg-color{
    background-color: #474747;
    height: 147px;
    justify-content: space-around;
    border-bottom: 1px solid #FF9012;
    z-index: 1 !important;
    position: fixed;
    top: 0;
    width: 100%;
}
.app-search-form {
    position: relative;
    max-width: 600px;
}
.app-search-form .search-input {
    font-size: .875rem;
    border-radius: 28px;
    padding-left: 44px;
    padding-bottom: 7px;
    padding-top: 8px;
    background-image: url('./assets/icons/search.png');
    background-position: 21px 10px;
    background-repeat: no-repeat;
    background-size: 17px 14px;
}

input::placeholder {
    font-family: Lato;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    /*text-align: left;*/
    color: #646464;
}

.top-menu-items ul {
    margin-bottom: 0;
    padding-left: 0;
}
.top-menu-items ul li a:active {
    color: #FF9012;
}
.top-menu-items ul li.nav-item{
    list-style: none;
    margin: 0 5rem 9px 0;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 135%;
}

.nav_icon {
    display: none;
    color: #fff;
}

.nav-icon {
    color: #fff !important;
}

.navbar__left > a {
    /* margin-right: 30px;
    text-decoration: none;
    color: #a5aaad;
    font-size: 15px;
    font-weight: 700; */
}

.navbar__left .active_link {
    /* color: #265acc;
    border-bottom: 3px solid #265acc;
    padding-bottom: 12px; */
}
/*.slide-btn:hover {*/
/*    background-color: #FF9012 !important;*/
/*    border: none;*/
/*}*/

.nav-item .nav-link {
    color: var(--bs-nav-link-hover-color);
    position: relative;
}
.nav-item .nav-link:hover {
    color: #FF9012 !important;
}
.nav-item .nav-link:hover {
    color: #FF9012 !important;
}
.nav-button:after {
    content: '';
    width: 135%;
    border-bottom: solid 2px #FF9012;
    position: absolute;
    left: -20%;
    top: 135%;
    z-index: 1;
    display: none;
}
.nav-item .nav-link:active {
    color: #FF9012 !important;
}
.nav-item .nav-link:active::after {
    display: block;
}
.nav-item .nav-link:focus {
    color: #FF9012 !important;
}
.nav-item .nav-link:focus::after {
    display: block;
}


@media only screen and (max-width: 978px) {
    .nav_icon {
        display: inline;
        color: #fff;
    }
}

@media only screen and (max-width: 480px) {
    /* .navbar__left {
        display: none;
    } */
}